<!-- Menú ppal de Navegación-->
<nav>
    <a href="/">Home</a>
    <a href="/movies">Películas</a>
    <a href="/faqs">Faqs</a>
    <a href="/aboutUs">About Us</a>
    <a href="/movies/movienew">Cargar Película</a>
  </nav>