<!DOCTYPE html>
<html>
 <head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/stylesheets/style.css'/>
</head>
  <body>
    <h1>Resultado de búsqueda</h1>

    <%- include('./partials/menu') %>

    <p>El término buscado es: <%= searchTerm %> </p>
    
    <h2>Lista de Películas</h2>
    <!-- Aqui debe ir la lista de pelicula -->
  </body>
</html>